* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: $navy-blue;
    letter-spacing: 0.02em;

    @media screen and (max-width: $laptop) {
        font-size: 14px;
    }
}

P {
    margin: 0;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}